//
// ALL DEVICES
//___________________________________________
.ads {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));    
    align-content: start;
    grid-gap: $gutter*2;
    
    padding: $gutter*2;
}